<h3 *ngIf="!isLoading">Search for opportunities</h3>
<form (submit)="search(searchBar)" #searchBar="ngForm" *ngIf="!isLoading">
<ul class="search">
<li>
  <mat-form-field>
    <mat-select placeholder="Departure" name="dep" ngModel type="text">
        <mat-option *ngFor="let state of states" [value]="state.value">
            {{state.viewValue}}
          </mat-option>
    </mat-select>
  </mat-form-field>
</li>
<li>
  <mat-form-field>
    <mat-select placeholder="Destination" name="des" ngModel type="text">
        <mat-option *ngFor="let state of states" [value]="state.value">
            {{state.viewValue}}
          </mat-option>
    </mat-select>
  </mat-form-field>
</li>
<li>
 <mat-form-field>
    <input
    name="date"
    ngModel
    matInput
    [matDatepicker]="picker"
    placeholder="Choose a date"
    type="text"
    >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</li>
<li>
    <button mat-raised-button color="primary" type="submit">Search</button>
</li>
</ul>
</form>
